@font-face {
	font-family: 'PTSans';
	src: url(../fonts/PTSans.ttf);
}
@font-face {
	font-family: 'PTSansBold';
	src: url(../fonts/PTSansBold.ttf);
}
@font-face {
	font-family: 'Borjomi';
	src: url(../fonts/BorjomiBlackC.otf);
}
@font-face {
	font-family: 'Rouble';
	src: url(../fonts/rouble.otf);
}
body {
	margin: 0;
	padding: 0;
}
b, strong {
	font-family: 'PTSansBold';
}
h1 {
	font: bold 40px Tahoma!important;
	text-align: center;
	margin: 30px 0!important; 
}
h3 {
	font: bold 24px Tahoma!important; 
}
ol {
	margin-left: 15px;
	margin-bottom: 20px!important;
}

.vis {
	display: block!important;
}

.page {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
}
.catalog_page {
	width: 100%;
	max-width: 1920px;
	padding-right: 270px;
	margin: 0 auto;
}

header {
	background: url(../img/nav_bg.jpg) top center no-repeat;
	border-bottom: 2px solid #fe8845;	
}
header.index_head {
	padding: 30px 0 40px;
	background: url(../img/wood1.jpg) top center no-repeat;	
}

header.all_head ::-webkit-input-placeholder {color:#212121;}
header.all_head ::-moz-placeholder          {color:#212121;}/* Firefox 19+ */
header.all_head :-moz-placeholder           {color:#212121;}/* Firefox 18- */
header.all_head :-ms-input-placeholder      {color:#212121;}

header.all_head .search {
	margin-bottom: 20px;
	width: 100%;
	max-width: 320px;
}
header.all_head .form-control {
	color: #212121!important;

}
header.all_head .head_c {
	color: #fff;
	font-size: 22px;
	padding-bottom: 20px;
	line-height: 1.3;
}
header.all_head .head_c small {
	font-size: 18px!important;
}
header.all_head .head_l {
	font-size: 20px;
	color: #ff0000;
	line-height: 1.2;
}
header.all_head .head_l img {
	float: left;
	margin: 18px 0 20px 10px;
}
header.all_head .label_logo {
	margin: 21px 0 0!important;
	font-size: 16px;
	padding: 3px 10px!important;
	width: 95px;
	float: left;
	line-height: 1.1;
}
header.all_head .head_r {
	color: #fff;
	padding-top: 15px;
}
header.all_head .head_r .phone1 {
	font-size: 34px!important;
}
header.all_head .head_r .phone1 .point {
	margin: 16px 0 0 10px!important;
}
header.all_head .head_r .phone1 .code {
	font-size: 20px!important;
}
header.all_head .head_r .phone2 {
	font-size: 24px!important;
	padding-top: 5px!important;
}
a.callback {
	color: #ff0000;
	font: 20px 'PTSansBold';
	text-decoration: underline;
}
a.callback:hover {
	text-decoration: none;
	color: #fff;
}

nav {
	background: url(../img/nav_bg.jpg) center top no-repeat;
	border: 0!important;
	border-radius: 0!important;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:    0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	box-shadow:         0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	margin-bottom: 0!important;
}
.fixed_nav {
	position: fixed!important;
	z-index: 100;
}
nav a {
	font-size: 18px!important;
}
nav a:hover, header nav a:focus {
	color: #fff!important;
}
.row {
	width: 90%;
	/*width: 100%;*/
	max-width: 1200px;
	margin: 0 auto!important;
}
.col_new {
	overflow: hidden;
	/*height: 417px;*/
}
.col_new-wrap{
	width: 9999px;
	position: relative;
	right:0;
}
.col_new-item{
	float: left;
	/*height: 417px;*/
}
.col_price {
	padding-top: 25px;
	overflow: hidden;
}
.col_price-wrap{
	width: 9999px;
	position: relative;
	left:0;

}
.col_price-item{
	float: left;
	padding-right: 30px !important;
}
.label_new {
	background: #49ba17;
	width: 170px;
	height: 170px;
	font: 30px 'PTSansBold';
	line-height: 5.5;
	color: #fff;
	text-align: center;
	border-radius: 85px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:    0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	box-shadow:         0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	z-index: 100;
	position: relative;
}
.new_img {
	margin-top: -75px;
}
.col_price img {
	float: right;
}
.label_price {
	width: 212px;
	height: 212px;
	background: url(../img/price.png);
	float: right;
	text-align: center;
	font: 30px 'PTSans';
	color: #fff;
	padding-top: 55px;
	margin-top: -95px;
	margin-right: 10px;
	z-index: 100;
	position: relative;
}
.label_price strong {
	color: #ffe400;
	font-size: 40px;
}
.label_logo {
	color: #fff;
	font: 24px 'PTSansBold';
	background: #999;
	text-transform: uppercase;
	width: 230px;
	border-radius: 4px;
	margin: 35px auto 20px;
	padding: 3px 0;
	text-decoration: none;
}
.label_logo a{
	text-decoration: none;
	color: #fff;
	font: 24px 'PTSansBold';
}
.label_logo a:hover{
	text-decoration: none;
	color: #fff;
}
.about {
	font-size: 22px;
}
.about img {
	max-width: 100%;
}
.phone1 {
	font: bold 40px Tahoma;
	margin-bottom: 0!important;
}
.phone2 {
	font: 32px 'PTSansBold';
}
.point {
	width: 12px;
	height: 12px;
	display: inline-block;
	background: #ff0000;
	border-radius: 6px;
	margin: 19px 0 0 13px;
	position: absolute;
}
.phone1 .code {
	display: inline-block;
	font-size: 23px;
	position: absolute;
	margin-top: 5px;
}
.search {
	width: 320px;
	max-width: 100%;
	margin: 20px auto 0;
}
.search .form-control {
	background: rgba(255, 255, 255, 0.5)!important;
	border-color: rgba(137, 137, 137, 0.6);
	border-radius: 18px;
	border-right: 0;
	padding-right: 0!important;
}
.search span {
	background: rgba(255, 255, 255, 0.5)!important;
	border-color: rgba(137, 137, 137, 0.6);
	border-radius: 18px;
	width: 50px;
}

.line {
	height: 20px;
	background: url(../img/line.jpg) top center no-repeat;
}

.rest_menu_block {
	background: #fff;
	padding-bottom: 50px;
}
.cat_block {
	background: #fff;
}

.menu {
	list-style: none;
	padding: 0!important;
	text-align: center;
}
.menu li {
	width: 24%;
	min-width: 180px;
	height: 200px;
	display: inline-block;
	text-align: center;
	margin-bottom: 20px;
}
.menu li a:hover {
	text-decoration: none;
}
.label_menu {
	color: #fff;
	font: bold 20px 'PTSansBold';
	text-align: center;
	background: rgba(33, 33, 33, 0.5);
	padding: 7px 0;
	height: 40px;
	margin: -40px auto 0;
	z-index: 100;
	position: relative;
	width: 180px;
	-moz-transition: background-color 0.8s 0.1s ease;
	-o-transition: background-color 0.8s 0.1s ease;
	-webkit-transition: background-color 0.8s 0.1s ease;
}
.menu li a:hover .label_menu {
	background: rgba(255, 255, 255, 0.8);
	color: #212121;
}

.comments {
	background: #f5f5f5;
	list-style: none;
	padding: 10px!important;
	font: 14px Tahoma;
}
.comments li {
	background: #fff;
	padding: 15px 15px 10px;
	margin-bottom: 10px;
	display: none;
}
.comments h3, .comments p {
	margin: 0!important;
	padding: 0!important;
}
.comments h3 {
	color: #ff0000;
	text-align: center;
	padding-bottom: 10px!important;
}
.comments span {
	font: 30px 'Borjomi';
	position: absolute;
	margin-top: -8px;
}
.arrows {
	background: none!important;
	text-align: center;
}
a.arrow {
	width: 30px;
	height: 30px;
	border-radius: 15px;
	padding-top: 4px;
	text-align: center;
	background: #d5d5d5;
	display: inline-block;
	margin: 0 7px;
}
a.arrow:hover {
	background: #fff;
}

.content_block {
	background: url(../img/wood2.jpg) top center;
}
.content {
	width: 90%;
	max-width: 1200px;
	margin: 0 auto;
	padding-top: 40px;
	padding-bottom: 20px;
}
.content h3 {
	margin: 0;
	padding-bottom: 25px;
}
.content p {
	padding-bottom: 20px;
	margin-bottom: 0!important;
}

footer {
	background: url(../img/footer.jpg) top center;
	padding-bottom: 30px;
}
.page .row .row {
	width: 100%!important;
}
.social {
	list-style: none;
	padding: 0!important;
}
.social li {
	display: inline-block;
	width: 20%;
}
.social li a {
	display: block;
	margin: 10px auto 0;
	background: rgba(0, 0, 0, 0.4);
	width: 60px;
	height: 60px;
	padding-top: 17px;
	border-radius: 30px;
	text-align: center;
}
.soc_frame {
	background: rgba(1, 1, 1, 0.4);
	border-radius: 8px;
	padding: 8px;
	width: 45%;
	margin-left: 15px;
	margin-top: 30px;
}
.footer_menu {
	list-style-position: inside;
	padding-left: 0!important;
	color: #fff;
	padding-top: 10px;
}
.footer_menu li {
	padding-top: 15px;
}
.footer_menu a {
	color: #fff!important;
	text-transform: uppercase;
}
.copyright {
	color: #fff;
	margin-top: 50px;
}

.bread {
	background: #f5f5f5;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding: 10px 0 10px 30px;
}
.bread a {
	font-size: 17px;
	text-decoration: underline;
}
.bread a:hover {
	text-decoration: none;
}

.catalog {
	list-style: none;
	padding: 0!important;
	text-align: center;
}
.catalog li {
	width: 18%;
	min-width: 190px;
	display: inline-block;
	text-align: center;
	margin-bottom: 30px;
}
.catalog li a {
	font-size: 16px;
	display: block;
	width: 190px;
	color: #606060;
	text-align: left;
	padding: 8px;
	border: 2px solid #fff;
	border-radius: 4px;
	-moz-transition: border-color 1s 0.1s ease;
	-o-transition: border-color 1s 0.1s ease;
	-webkit-transition: border-color 1s 0.1s ease;
}
.catalog li a img {
	margin-bottom: 15px;
}
.catalog li a strong {
	font-size: 18px;
	color: #212121;
}
.catalog li a p {
	height: 65px;
	max-height: 65px;
	overflow: hidden;
	margin-bottom: 0!important;
}
.catalog li a:hover {
	border-color: #fec3a2;
	text-decoration: none;
}
.rouble {
	font-family: 'Rouble';
	font-weight: bold;
}
.cat_price {
	font: 24px 'PTSansBold';
	color: #212121;
	float: left;
}
.cat_buy {
	float: right;
}
.cat_buy button {
	color: #fff;
	font: 18px 'PTSansBold';
	background: #ff0000;
	border-bottom: 2px solid #d90000;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-radius: 4px;
	padding: 5px 10px;	
}
.cat_buy button:hover, .cat_buy button:focus {
	border-top: 2px solid #d90000;
	border-bottom: 0;
}

.sales {
	padding: 20px 0;
}
.sales img {
	-webkit-box-shadow: 0 0 5px 0 rgba(0,0,0,0.6);
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.6);
	width: 90%;
	max-width: 303px;
}


.request {
	background: #f5f5f5;
	padding: 10px 40px 30px;
	margin-top: 35px;
}
.request .form_block {
	padding-right: 40px;
}
.request input {
	height: 40px;
	margin-top: 5px;
}
.request textarea {
	height: 100px!important;
	margin-top: 5px;
}
.request .date {
	width: 205px;
	margin-top: -10px;
}
.request .date span {
	border: 0!important;
	background: none!important;
	cursor: pointer;
}
.request .date input {
	border-top-right-radius: 4px!important;
	border-bottom-right-radius: 4px!important;
}
.request button {
	color: #fff;
	font: 22px 'PTSansBold';
	background: #fe8845;
	border-bottom: 2px solid #d8743b;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-radius: 4px;
	padding: 10px 30px;
}
.request button:hover, .request button:focus {
	border-top: 2px solid #d8743b;
	border-bottom: 0;
}
.request .garanties p {
	margin-top: 30px;
}


.top_pad {
	margin-top: 20px!important;
}
.delivery {
	list-style: none;
	padding: 0;
	margin-top: 25px;
}
.delivery li {
	width: 200px;
	display: block;
	float: left;
	height: 100px;
}
.delivery li div {
	width: 50px;
	height: 50px;
	border-radius: 25px;
	margin-right: 12px;
	float: left;
	margin-top: 20px;
}
.delivery li p {
	float: left;
	padding-right: 10px;
}
.circle1 {
	background: #f6ba5a;
}
.circle2 {
	background: #fb9e7d;
}
.circle3 {
	background: #a6ddbe;
}
.circle4 {
	background: #c3da72;
}

ul.akcii {
	list-style: none;
	padding: 0;
}
ul.akcii li {
	display: inline-block;
	width: 48%;
	margin-bottom: 30px;
}
ul.akcii li:nth-child(odd) {
	margin-right: 3%;
}
ul.akcii a {
	text-decoration: underline;
	font: 24px 'PTSansBold';
}
ul.akcii a:hover {
	text-decoration: none;
}


a.back {
	background: url(../img/back.png) top left no-repeat;
	padding-left: 38px;
	text-decoration: underline;
	position: absolute;
	margin-top: -62px;
}
a.back:hover {
	text-decoration: none;
}
.photo_min {
	padding: 0;
	list-style: none;
}
.photo_min li {
	display: inline-block;
	margin: 5px 20px 0 0; 
}
.tovar_amount {
	width: 120px;
	float: left;
}
.tovar_amount input {
	text-align: center;
	font: 20px 'PTSansBold';
}
.tovar_amount span {
	font: 20px 'PTSansBold';
	line-height: 1.0;
	background: linear-gradient(to bottom, #ffffff 0%,#dadada 100%)!important;
}
.tovar_amount span a:hover, .tovar_amount span a:focus {
	text-decoration: none;
}
.tovar_price {
	float: left;
	width: 170px;
	margin-left: 35px;
}
.tovar_price .cat_price {
	margin-top: 3px;
}

#tovar .modal-dialog {
	margin-top: 230px!important;
	width: 80%!important;
	padding: 10px 25px 25px!important;
}
#tovar .modal-header {
	border-bottom: 0!important;
	padding: 5px 15px!important;
}
#tovar .row {
	width: 100%!important;
}
#tovar h1 {
	margin: -10px 0 10px!important;
	text-align: left;
}
#tovar .tovar_amount, #tovar .tovar_price {
	margin-top: 10px;
}
#tovar .tovar_img {
	padding-right: 10px;
}
#tovar .tovar_info {
	padding-left: 10px;
}
p.red {
	color: #ff0000;
}



.basket {
	width: 280px;
	position: fixed;
	top: 0;
	right: 0;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:    0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	box-shadow:         0px 0px 5px 1px rgba(0, 0, 0, 0.6);
	z-index: 200;
}
.basket > .head {
	text-align: center;
	background: linear-gradient(to top, #ff0000 0%,#fe8845 100%)!important;
	color: #fff;
	font: bold 40px Tahoma;
	padding: 35px 0;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	-moz-box-shadow:    0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	box-shadow:         0px 3px 5px 0px rgba(0, 0, 0, 0.6);
	cursor: pointer;
	z-index: 100;
	position: relative;
}
.basket > .body {
	background: #f5f5f5;
	padding: 20px 0 0;
	text-align: center;
}
.basket > .body > h3 {
	margin-top: 0;
	margin-bottom: 0!important;
	font-family: 'PTSans'!important;
}
.basket > .body > h3 > strong {
	font: 30px 'PTSansBold';
}
.basket > .body > a.clear_all {
	color: #606060;
}
.basket > .body > .order {
	list-style: none;
	padding: 10px 20px 15px;
}
.basket > .body > .order li {
	padding: 15px 0;
}
.basket > .body > .order .img {
	float: left;
	width: 95px;
}
a.clear {
	display: block;
	margin: -70px 0 0 2px;
	z-index: 200;
	position: relative;
	width: 38px;
	height: 38px;
	background: url(../img/basket_clear.png);
	color: #fff;
	text-align: left;
	font: 21px 'PTSansBold';
	padding-left: 5px;
	line-height: 1.0;
}
a.clear:hover {
	text-decoration: none;
}
.basket > .body > .order .info {
	float: left;
	width: 130px;
	text-align: left;
	font: 18px 'PTSansBold';
	line-height: 0.9;
	padding-left: 20px;
}
.basket > .body > .order .info .form-control {
	width: 40px;
	height: 25px;
	text-align: center;
	margin: 5px 0;
}
.basket > .body > .order .info .price {
	font-size: 22px;
}
.basket > .body > .pay_type {
	margin: 30px 10px 0;
	border-top: 1px solid #d2d2d2;
}
.basket > .body > .pay_type h3 {
	font-size: 20px!important;
	margin-top: 15px!important;
}
.basket > .body > .pay_type table {
	text-align: left;
	line-height: 1.0;
}
.basket > .body > .pay_type table td:first-child {
	width: 25px;
}
.basket > .body > .pay_type table td {
	padding: 10px 5px 10px 0;
}
.basket > .body > .pay_type table td.text {

}
.basket > .body > .footer {
	background: url(../img/footer.jpg) center bottom no-repeat;
	padding: 20px 0;
	text-align: center;
	margin-top: 20px;
}
.basket > .body > .footer button {
	color: #fff;
	font: 22px 'PTSansBold';
	background: #ff0000;
	border-bottom: 2px solid #d90000;
	border-left: 0;
	border-right: 0;
	border-top: 0;
	border-radius: 4px;
	padding: 6px 25px;	
}
.basket > .body > .footer button:hover, .basket > .body > .footer button:focus {
	background: #d90000;
}

.basket_logo {
  width: 81px;
  height: 81px;
  position: fixed;
  right: 240px;
  top: 0;
  z-index: 1000;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  -ms-perspective: 600px;
  -o-perspective: 600px;
  perspective: 600px;
}

.basket_circle { /* поворачивать будем общий контейнер */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;

    -webkit-transition: -webkit-transform 0.5s;
    -moz-transition: -moz-transform 0.5s;
    -ms-transition: -moz-transform 0.5s;
    -o-transition: -o-transform 0.5s;
    transition: transform 0.5s; /* трансформации будут происходить анимированно продолжительностью 0.5 сек */
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;   /* указываем, что дочерние элементы находятся в 3D пространстве */
}
.basket_circle:hover {    /* добавляя этот класс, поворачиваем контейнер на 180 градусов */
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -ms-transform: rotateY( 180deg );
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );
}

.basket_circle figure {
  margin: 0;
  padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;    /* если элемент "отвернулся" от пользователя, контент этого элемента не виден */
}

.basket_circle .back {
    background: url('../img/basket_logo.png');
	background-size: 81px 81px;
}
.basket_circle .front {
    background: url('../img/basket_logo_back.png');
	background-size: 81px 81px;
    -webkit-transform: rotateY( 180deg );
    -moz-transform: rotateY( 180deg );
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY( 180deg );
    transform: rotateY( 180deg );   /* в начальном положении фэйс карты к нам развернут на 180 градусов */
}


@media (max-width: 768px) {
	.social li {
		width: 23%;
	}
	.soc_frame {
		width: 100%;
		text-align: center;
	}
	.search {
		width: 100%;
	}
	.phone1 {
		font-size: 35px;
	}
	.phone2 {
		font-size: 31px;
	}
	.sales div {
		text-align: center!important;
		padding: 5px 0;
	}
	ul.akcii li {
		width: 100%;
	}
	ul.akcii li:nth-child(odd) {
		margin-right: 0;
	}
	a.back {
		position: relative;
		margin-top: 0;
		margin-bottom: 15px;
		display: block;
	}
	.tovar_price {
		margin-top: 15px;
	}
	.basket {
		position: relative;
		width: 100%;
	}
}












.navbar-nav {
	float: none!important;
	text-align: center;
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.navbar-nav>li {
	float: none!important;
}
.nav>li>a {
	padding-left: 0!important;
	padding-right: 0!important;
}
.nav>li {
	display: inline-block!important;
}
.navbar-collapse {
	border: 0!important;
}
.navbar-default .navbar-toggle {
	border-color: #f8dab5!important;
	margin-right: 20px;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background: #000!important;
}
.navbar-default .navbar-toggle .icon-bar {
	background: #f8dab5!important;
}
.fb_iframe_widget{
	height: 264px;
	background-color: #fff;
}
@media (max-width: 767px) {
	.navbar-nav {
		flex-direction: column;
	}
}